<div class="table_sec">
    <div>
        <table class="mdrn_table ">
            <thead>
                <tr>
                    <th class="th1">Name</th>
                    <th>Email</th>
                    <th>Sex</th>
                    <th>Department</th>
                    <th>Position</th>
                    <th class="th2">Actions</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="table-body">
        <table class="mdrn_table2">
            <tbody>
               {% for emp in employee_list %}
                    <tr data-id="{{ emp.id }}" data-department-id="{{ emp.department_id }}" data-position-id="{{ emp.position_id }}">
                        <td class="name td1" data-name="{{ emp.name }}" data-surname="{{ emp.surname }}">{{ emp.name }} {{ emp.surname }}</td>
                        <td class="email">{{ emp.email }}</td>
                        <td class="sex">{{ emp.sex }}</td>
                        <td class="department">{{ emp.department }}</td>
                        <td class="position">{{ emp.position }}</td>
                        <td class="td2"><button class="btn-edit bg-success rounded-pill" style="margin-right: 20px; border: none; padding: 5px 10px; color: white;"> Edit </button><button class="btn-delete rounded-pill bg-danger" style="border: none; padding: 5px 10px; color: white;"> Delete </button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>