:root {
  --mind-vert: #1E7F4F;
  --mind-rouge: #CE1126;
  --mind-jaune: #F1B82D;
  --bg-login: rgba(255, 255, 255, 0.95); 
  --input-bg: rgba(240, 240, 240, 1); 
  --text-color: #111; 
  --shadow-color: rgba(0, 0, 0, 0.2);
}

*, *:after, *:before {
	box-sizing: border-box;
}

body {
	font-family: System UI, Segoe UI, Roboto, Helvetica Neue, Arial;
	line-height: 1.5;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #393232;
}

img {
	max-width: 100%;
	display: block;
}

.card-list {
	width: 90%;
	max-width: 700px;
}

.card {
	background-color: #FFF;
	box-shadow: 0 0 0 1px rgba(#000, .05), 0 20px 50px 0 rgba(#000, .1);
	border-radius: 15px;
	overflow: hidden;
	padding: 1.25rem;
	position: relative;
	transition: .15s ease-in;
}

.card-image {
	border-radius: 10px;
	overflow: hidden;
}

.card-footer {
	margin-top: 1.25rem;
	border-top: 1px solid #ddd;
	padding-top: 1.25rem;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.card-meta {	
	display: flex;
	align-items: center;
	color: #787878;
	&:first-child:after {
		display: block;
		content: "";
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: currentcolor;
		margin-left: .75rem;
		margin-right: .75rem;
	}
	svg {
		flex-shrink: 0;
		width: 1em;
		height: 1em;
		margin-right: .25em;
	}
}

#bg-net {
    position: fixed;
    inset: 0;
    z-index: -1;          /* derrière ton contenu */
    background: var(--mind-vert);  /* couleur du fond */
}

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
	display: flex;
	flex-direction: column;
}


.toast {
    background-color: rgb(67, 247, 67);
    color: white;
    padding: 15px 30px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}